@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Filmes</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var movies in Model)
        {
            <tr class="table-active">
                
                <td scope="row">@movies.Name</td>
            </tr>
        }


    </tbody>
</table>
